.gradle/
**/build/
.cxx/
.externalNativeBuild/
.idea/
*.iml
local.properties
*.jks
*.keystore
keystore.properties
google-services.json
serviceAccount.json
captures/
*.apk
*.aab
*.ap_
*.log
output.json
